<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/navigationStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/myProfileStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b1d99aa4c.js" crossorigin="anonymous"></script>
    <title>MY PROFILE</title>
</head>
<body>
<div class="base-container">
    <nav>
        <img src="../img/logo.svg">
        <ul>
            <li>
                <a href="#" class="button">
                    <img src="../img/home.svg">
                </a>
            </li>
            <li>
                <a href="#" class="button">
                    <img src="../img/user.svg">
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <section class="profile-panel">
            <img src="../img/uploads/indeks.jpg">
            <div class="info">
                <div class="stats">
                    <h2>19</h2>
                    <h2>140</h2>
                    <h2>24</h2>
                    <p>meetings</p>
                    <p>followers</p>
                    <p>following</p>
                </div>
                <h2>Name Surname</h2>
            </div>
            <div class="ratings">
                <h2>My Ratings</h2>
                <div class="star-rating">
                    Langauge:
                    <span>★★★★★</span>
                    <br>
                    Langauge:
                    <span>★★★★★</span>
                    <br>
                    Langauge:
                    <span>★★★★★</span>
                    <br>
                    Langauge:
                    <span>★★★★★</span>
                </div>
            </div>
            <button id="edit-button", type="submit">edit profile</button>
        </section>
        <section class="messages-panel">
            <h2>My Ratings</h2>
            <div id="message-1">
                <div class="info">
                    <img src="../img/uploads/indeks.jpg">
                    <h2>Name Surname</h2>
                    <p>22,11,2020</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <button class="reply-button">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
            <div id="message-1">
                <div class="info">
                    <img src="../img/uploads/indeks.jpg">
                    <h2>Name Surname</h2>
                    <p>22,11,2020</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <button class="reply-button">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
            <div id="message-1">
                <div class="info">
                    <img src="../img/uploads/indeks.jpg">
                    <h2>Name Surname</h2>
                    <p>22,11,2020</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p>
                <button class="reply-button">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
            <div id="message-1">
                <div class="info">
                    <img src="../img/uploads/indeks.jpg">
                    <h2>Name Surname</h2>
                    <p>22,11,2020</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </p>
                <button class="reply-button">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
            <div id="message-1">
                <div class="info">
                    <img src="../img/uploads/indeks.jpg">
                    <h2>Name Surname</h2>
                    <p>22,11,2020</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                <button class="reply-button">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
        </section>
        <section class="about-panel">
            <div id="available-dates">
                <h2>my available dates</h2>
                <div class="date">
                    <p>month:day    hour-hour</p>
                    <p>month:day    hour-hour</p>
                    <p>month:day    hour-hour</p>
                    <p>month:day    hour-hour</p>
                </div>
                <button class="edit-button">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
            <div id="about-me">
                <h2>about me</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <h2>country, city</h2>
            </div>
        </section>
    </main>
</div>
</body>