* {
    font-family: sans-serif;
}

body{
    margin: 0;
    background-color: #ffffff;
}

.base-container{
    background: transparent linear-gradient(180deg, #D749FC4d 0%, #018FE34d 100%) no-repeat fixed 0 0;
}

main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    margin-top: 10vh;
}

.search-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25vw;
    height: 90%;
    background: transparent linear-gradient(180deg, #D749FCb2 0%, #018FE3b2 100%) no-repeat fixed 0 0;
}

.profiles-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
    padding: 2em;
    width: 68vw;
    margin-left: 25vw;
    overflow-y: auto;
}

.search{
    display: flex;
    margin: 20% 0;
    width: 75%;
}

.search input{ 
    padding: 0.7em 3em 0.7em 1em;
    color: #525252;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 2px;
    border-radius: 8px;
    width: calc(100% - 2.4em - 33px);

    background: #F6DAFE 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: 4px solid #FFFFFF;
    outline: none;
}

.search button {
    color: #8233C5;
    border: none;
    background: none;
    font-size: 1.2em;
    height: 50%;
    margin: auto auto auto -2.4em;
}

[class*="-select"] {
    width: 75%;
}

select {
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 2px;
    color: #525252;
    padding: 0.7em 1em;
    box-shadow: 0 3px 6px #00000029;
    border: 4px solid #FFFFFF;
    border-radius: 8px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #FFFFFF80 url(../img/arrow.svg) no-repeat right 0.1em top 100%;
    background-size: 2.5em;
    margin: 10% 0;
}

select option{
    background: #FFFFFF80 0 0 no-repeat padding-box;
}

label {
    color: #ffffff;
    font-size: 1.5em;
    margin-left: 0.5em;
}

.date{
    width: 75%;
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 0.5em;
}

.date > form{
    display: flex;
    justify-content: space-between;
}

input[type="date"]{
    background: #FFFFFF80;
    box-shadow: 0 3px 6px #00000029;
    border: 4px solid #FFFFFF;
    border-radius: 8px;
    width: 42%;
    padding: 0.8em 0;
}

.profiles-panel > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF99;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 7px;
}

.profiles-panel > div > img {
    clip-path: circle(50% at center);
    width: 60%;
    height: auto;
    margin-top: 2%;
}

div > h2, p{
    color: #888888;
    margin: 5% 0;
}

div > p{
    font-size: 1.1em;
}

div > h2{
    font-size: 1.5em;
}

.message-button, .follow-button{
    background: #E943FE;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 12px;    
    border: none;
    color: #ffffff;
    width: 6em;
    height: 3em;
    margin-bottom: 5%;
}

.social> button > i{
    font-size: 2em;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 100%
}

div[id*="profile"] > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

@media only screen and (max-width: 2000px) {
    div > p{
        font-size: 1.4em;
    }

    div > h2{
        font-size: 2em;
    }
}

@media only screen and (max-width: 1500px) {
    div > p{
        font-size: 1.2em;
    }

    div > h2{
        font-size: 1.6em;
    }

    .message-button, .follow-button{
        width: 5em;
        height: 2.5em;
    }

    .social> button > i{
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 1300px) {
    div > p{
        font-size: 1em;
    }

    div > h2{
        font-size: 1.4em;
    }

    .message-button, .follow-button{
        width: 4em;
        height: 2em;
    }

    .social> button > i{
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 1100px) {
    div > p{
        font-size: 1.1em;
    }

    .message-button, .follow-button{
        width: 5em;
        height: 2.5em;
    }

    .social> button > i{
        font-size: 1.6em;
    }

    .profiles-panel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-device-width: 420px) {
    * {
        font-size: 35px;
    }

    .profiles-panel {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5em;
        padding: 1.5em;
    }

    .profiles-panel > div {
        border-radius: 20px;
    }

    div > p{
        font-size: 0.9em;
    }

    div > h2{
        font-size: 1.2em;
    }

    .message-button, .follow-button{
        font-size: 0.7em;
    }

    .search-panel {
        display: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}