* {
    font-family: sans-serif;
}

body{
    margin: 0;
    background-color: #ffffff;
}

.base-container{
    background: transparent linear-gradient(180deg, #D749FC4d 0%, #018FE34d 100%) 0% 0% no-repeat padding-box;
}

nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 10vh;
    background: #D549FB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;

    display: flex;
}

nav > img {
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3em;
}

ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style-type: none;
    color: #ffffff;
}

li {
    align-self: center;
}

.button {
    text-decoration: none;
    display: inline-block;
    margin-right: 2em;
}