/*my profile page style*/

.base-container{
    background: transparent linear-gradient(180deg, #D749FC4d 0%, #018FE34d 100%) no-repeat fixed 0 0;
}

main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    margin-top: 10vh;
}

/*message panel styles*/
.messages-panel, .edit-panel {
    width: 48vw;
    margin-left: 24vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
    margin-bottom: 2em;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:40vw;
    margin-left: 4vw;
}

.header > h2 {
    font-size: 1.8em;
}

/*about panel style*/
.about-panel{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 73vw;
    width: 27vw;
    height: 90%;
    background: transparent linear-gradient(180deg, #D749FCb2 0%, #018FE3b2 100%) 0 0 no-repeat fixed;
}

.available-dates, .about-me {
    background: #FFFFFF99 0 0 no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76%;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 9px;
}

.available-dates > h2, .about-me > h2{
    font-size: 1.8em;
    margin: 4% 0 4% 0;
}

.available-dates > .date {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
    max-height: 20vh;
    overflow-y: auto;
    margin: 0 0 1em 1em;
    padding-right: 2em;
}

.date > p {
    margin: 0.2em 0;
    font-weight: normal;
}

.about-me {
    max-height: 40vh;
}

.about-me > p {
    margin: 0 1.7em 0 0;
    font-weight: normal;
    padding: 0 2em;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-break: break-word;
}

/*edit panel styles*/
.edit-panel > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.edit-panel > form > textarea, input[type="text"]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid gray;
    width: 100%;
    margin-bottom: 2em;
    font-size: 1.1em;
    font-weight: normal;
    resize: none;
}

@media only screen and (max-device-width: 420px) {

    main {
        flex-direction: column;
        overflow-y: auto;
        height: auto;
    }

    main > ::-webkit-scrollbar {
        display: none;
    }

    /*about panel mobile style*/
    .about-panel{
        position: static;
        width: 90%;
        height: auto;
        margin: 0 auto 1em auto;
        background: none;
    }

    .about-panel > .about-me, .available-dates {
        width: 100%;
        border-radius: 30px;
    }

    .about-me {
        margin-bottom: 1em;
        max-height: 20em;
    }

    .about-me > h2, .available-dates > h2 {
        font-size: 1.4em;
    }

    .available-dates {
        max-height: 12em;
    }

    /*messages panel mobile style*/
    .messages-panel {
        width: 90%;
        margin: 0 auto;
        overflow-y: auto;
        order: 2;
        display: block;
    }

    .messages-panel > .header {
        width: 100%;
    }

    .messages-panel > .header > h2 {
        margin-top: 0;
    }

    .messages-panel > .review {
        border-radius: 30px;
        width: 100%;
        margin-bottom: 1em;
        max-height: 13em;
    }

    /*edit profile panel mobile style*/
    .edit-panel {
        width: 90%;
        margin: 0 auto;
    }

    .edit-panel > form {
        width: 90%
    }
}
