* {
    font-family: Segoe UI;
    font-weight: bold;
    color: #888888;
}

body{
    margin: 0;
    background-color: #ffffff;
}

.base-container{
    background: transparent linear-gradient(180deg, #D749FC4d 0%, #018FE34d 100%) no-repeat fixed 0 0;
}

main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    margin-top: 10vh;
}

.about-panel{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    background: transparent linear-gradient(180deg, #D749FCb2 0%, #018FE3b2 100%) 0 0 no-repeat fixed;
}

.available-dates, .about-me ,div[class*="review"]{
    background: #FFFFFF99 0 0 no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76%;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 9px;
}

.messages-panel, .edit-panel {
    width: 48vw;
    margin-left: 24vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages-panel > div[class*="review"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 25vh;
    margin-bottom: 2em;
}

.messages-panel > div[class*="review"] > .action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%
}

.messages-panel > div[class*="review"] > .action > p {
    margin: 0 0 0.4em 0;
}

.msginfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.messages-panel > div[class*="review"] > .message {
    width: 90%;
    overflow-y: auto;
    margin-top: 0.4em;
}

.messages-panel > div[class*="review"] > .message >p {
    font-weight: normal;
}

.report-button {
    background: #E943FE;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 6px #00000029;
    padding: 0.3em 0.7em;
}

.report-button > i, .edit-button > i  {
    color: #FFFFFF;
    font-size: 1em;
}

.msginfo > img {
    width: 3em;
    height: 3em;
    object-fit: cover;
    box-shadow: 0 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 8px;
    margin-top: 2%;
}

.sender-info {
    display: flex;
    flex-direction: column;
}

.sender-info > p {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1em;
}

.sender-info > h2 {
    margin: 0;
    font-size: 1.2em;
}

.about-panel {
    margin-left: 73vw;
    width: 27vw;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:40vw;
    margin-left: 4vw;
}

.new-msg-button > i{
    color: #FFFFFF;
    font-size: 2em;
}

.header > h2 {
    font-size: 1.8em;
}

.available-dates > h2, .about-me > h2{
    font-size: 1.8em;
    margin: 4% 0 4% 0;
}

.available-dates > .date {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
    max-height: 20vh;
    overflow-y: auto;
    margin: 0 0 1em 1em;
    padding-right: 2em;
}

.available-dates > .edit-button {
    background: #E943FE;
    border-radius: 8px;
    border: none;
    height: 2.5em;
    width: 3.5em;
    box-shadow: 0 3px 6px #00000029;
    margin-bottom: 0.8em;
}

.date > p {
    margin: 0.2em 0;
    font-weight: normal;
}

.about-me {
    max-height: 40vh;
}

.about-me > p {
    margin: 0 1.7em 0 0;
    font-weight: normal;
    padding: 0 2em;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-break: break-word;
}

.edit-panel > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.edit-panel > form > textarea{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid gray;
    width: 100%;
    margin-bottom: 2em;
    font-size: 1.1em;
    font-weight: normal;
    resize: none;
}
