/*navigation style*/

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background: #D549FB 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

nav > .logo {
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3em;
}

nav > .mobile-logo {
    display: none;
}

ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style-type: none;
    color: #ffffff;
}

.button {
    text-decoration: none;
    display: inline-block;
    margin-right: 2em;
}

/*hamburger menu and search button on mobile*/
#mg, #hamburger {
    margin: auto 2em;
    display: none;
}

.show-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

li > label {
    display: none;
}

@media only screen and (max-device-width: 420px) {

    nav {
        justify-content: space-between;
    }

    nav > .mobile-logo {
        display: block;
        height: 7vh;
        margin: auto 2em;
    }

    nav > .logo {
        display: none;
    }

    #mg > img {
        width: 3em;
    }

    #hamburger > img {
        width: 2.5em;
    }

    ul {
        position: absolute;
        top: 9.5vh;
        display: none;
        left: 30vw;
        width: 70vw;
        margin: 0;
        background: #D549FB 0 0 no-repeat padding-box;
        z-index: 2;
        height: 16vh;
        padding: 0 0 0.7em 0;
        box-shadow: 0 3px 6px #00000029;
    }

    li > a > img, li > a, li {
        height: 2em;
        width: 2em;
    }

    li {
        padding-right: 0.2em;
        margin: auto 0;
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
    }

    li > label {
        display: block;
        color: white;
        font-weight: normal;
        font-size: 1.6em;
        margin: 0;
    }

    #mg , #hamburger{
        display: block;
    }

    /*mg button showing only on home page*/
    #mg.disappear{
        display: none;
    }
}
