* {
    font-family: Segoe UI;
    font-weight: bold;
    color: #888888;
}

body{
    margin: 0;
    background-color: #ffffff;
}

.base-container{
    background: transparent linear-gradient(180deg, #D749FC4d 0%, #018FE34d 100%) no-repeat fixed 0 0;
}

main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    margin-top: 10vh;
}

.add-review{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 25%;
    margin: 0 30%;
    visibility: hidden;
    background-color: #ffffffa9;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 18px;
}

.add-review > textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid gray;
    width: 85%;
    padding-right: 1em;
    font-size: 1.2em;
    font-weight: normal;
    resize: none;
}

.add-review > .action {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 0.5em;
}

.add-review > .action > .add {
    background: #E943FE;
    border-radius: 8px;
    border: none;
    height: 2.5em;
    width: 3.5em;
    box-shadow: 0 3px 6px #00000029;
    color: #ffffff;
}

select {
    color: #888888;
    font-size: 1.1em;
    padding: 0.1em 0.5em;
    box-shadow: 0 3px 6px #00000029;
    border: 4px solid #FFFFFF80;
    border-radius: 8px;
    width: 20%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #FFFFFF80 url(../img/arrow.svg) no-repeat right 0.05em top 0.2em;
    background-size: 1.5em;
}

select option{
    background: #FFFFFF80 0 0 no-repeat padding-box;
}

.ratings-panel{
    position: fixed;
    width: 24vw;
    height: 90%;
    background: transparent linear-gradient(180deg, #D749FCb2 0%, #018FE3b2 100%) 0 0 no-repeat fixed;
}

.reviews {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    align-items: center;
    overflow-y: auto;
    margin: 0 auto;
    padding-right: 2%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.8vw;
}

.header > h2 {
    color: #fffffff0;
    margin: 0.7em 0;
}

.reviews > :last-child{
    margin-bottom: 2em;
}

.reviews > :first-child{
    margin-top: 2em;
}


.review {
    background: #FFFFFF99 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    max-height: 25vh;
    width: 90%;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.msginfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 86%;
}

.msginfo > div > h2 {
    font-size: 1em;
    margin-top: 0;
}

.msginfo > div > p {
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: 0;
}

.msginfo > img {
    clip-path: circle(50% at center);
    object-fit: cover;
    width: 3em;
    height: 3em;
}

.review > .action > p {
    margin: 0.5em 0;
}

span, .stats > h2{
    background: -webkit-linear-gradient(270deg, #EC43FF 0%, #0090E3 100%) 0 0 no-repeat padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span {
    font-size: 1.3em;
    padding-left: 0.5em;
}

.review > .message {
    margin: 0 7% 0 7%;
    padding-right: 5%;
    width: 81%;
    overflow-y: auto;
}

.report-button {
    display: none;
}

.review > .message > p {
    font-weight: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 1em;
}

.about-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2em;
    grid-column-gap: 4em;
    padding: 3em 4em;
    width: 76vw;
    margin-left: 24vw;
}
.about-me, .user-info, .available-dates {
    background: #FFFFFF99 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 18px;
}
.about-me, .user{
    grid-row-start: 1;
    grid-row-end: 3;
}

.about-me {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
}

.about-me > p{
    font-weight: normal;
    overflow-y: auto;
    margin-bottom: auto;
    overflow-wrap: break-word;
    word-break: break-word;
}

.about-me > h2 {
    margin: 0.2em 0;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 1.2em;
}

.about-me > :first-child {
    margin: 0;
    font-size: 1.5em;
}

.user-info, .available-dates {
    padding: 1em 2em;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow-y: auto;
}

.available-dates {
    display: flex;
    flex-direction: column;
}

.available-dates > .dates{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin: 0.5em auto;
    width: 100%;
}

.available-dates > .dates > p {
    margin: 0.3em 0;
    font-weight: normal;
}

.available-dates > h2 {
    margin: 0;
}

.stats {
    display: grid;
    justify-items: center;
    grid-row-gap: -2em;
    grid-template-columns: repeat(3, 1fr);
    margin: auto 0;
    width: 100%;
}

.stats > h2 {
    font-size: 2.5em;
    margin: 0;
}

.stats > p {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info > h2 {
    margin: 0 0 -0.2em 0;
}

.user-info > :last-child {
    font-weight: normal;
    margin: auto 0;
    font-size: 0.8em;
}

.user-info > .star-rating {
    text-align: center;
    margin: 0;
    font-weight: normal;
    font-size: 1.2em;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.user > img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 3px 6px #00000029;
}

.user > .buttons {
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.user > .buttons > button {
    background: #E943FE;
    box-shadow: 0 3px 6px #00000029;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    height: 80%;
    width: 25%;
    font-size: 1.5em;
    line-height: 100%;
}

.user > .buttons > button > i {
    color: #ffffff;
}

.add-review {

}

.follow-button #follow,
.follow-button #unfollow{
    display: none;
}

.follow-button #follow{
    display: inline;
}

.follow-button.unfollow #follow{
    display: none;
}

.follow-button.unfollow #unfollow{
    display: inline;
}

.window-review-open{

    animation: add-review-animation 0.5s forwards;
    animation-delay: 0.3s;
}

.blur {
    pointer-events: none;
    overflow: hidden;
    animation: blur-animation 0.5s forwards;
}

@keyframes blur-animation {
    0% {

    }
    100% {
        transform: scale(1.015);
        filter: blur(2px) brightness(80%);
    }
}

html{
    overflow: hidden;
}

@keyframes add-review-animation {
    0% {

    }
    100% {
        visibility: visible;
        opacity: 100%;
        transform: translateY(10vh);
    }
}
