* {
    font-family: Segoe UI;
}

body{
    margin: 0;
    background-color: #ffffff;
}

div.container{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #EC43FF 0%, #0090E3 100%) 0 0 no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.logo{
    width: 50%;
    height: 30vh;
    text-align: center;
}

div.logo > img{
    width: 30vw;
}

div.register-container{
    width: 50%;
}

form.register{ 
    width: 80%;
    height: 75vh;
    box-shadow: 0 3px 6px #00000029;
    border: 10px solid #E6E0FC;
    border-radius: 48px;
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > .messages {
    width: 80%;
    text-align: center;
}

#register-button{
    background: #E943FE 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 15px;    
    border: none;
    color: #ffffff;
    line-height: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: larger;
    width: 50%;
}

form > input {
    background: #FFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: none;
    border-radius: 15px;
    opacity: 0.8;
    padding-inline: 1em;
    width: 60%;
    line-height: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: larger;
    margin: 0.5em;
}

div.checkbox{
    margin:0.5em;
}

#accept, label{
    align-self: flex-end;
    color: #ffffff;
    opacity: 0.8;
}

.no-valid {
    border: 3px solid red;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

@media only screen and (max-device-width: 420px){
    div.container {
        flex-direction: column;
        width: 100%;
    }

    * {
        font-size: 35px;
    }

    div.register-container {
        width: 90%;
        height: 80%;
    }

    div.logo {
        width: 100%;
        height: 20%;
    }

    form.register {
        margin: auto;
        border-radius: 90px;
    }

    form > input, #register-button {
        border-radius: 45px;
        margin: 0.6em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        line-height: 2em;
    }

    #register-button {
        width: 70%;
    }

    #accept {
        transform: scale(2);
        margin-right: 0.5em;
    }

    div.logo > img {
        width: 70vw;
        margin: 2em;
    }
}